* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sf Pro Display", sans-serif;
}

body {
  font-family: sans-serif;
}

.navbar__container {
  height: 5.2rem;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 0; 
  margin-left: 0; 
}

.navbar__container h1 {
  font-size: 1.7rem;
  margin-left: 1rem; 
}
